/* common properties */
.hide-disc-button {
  visibility: hidden;
}

.desc-contact {
  height: 43px;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 2rem;
  transition: 0.1s;
}

.discussions {
  text-align: left;
  background-color:#f6f6f6;
}

/* .discussions .message-active:hover,  */
.discussions .message-inactive:hover {
  background-color: cornsilk;
}

.message-consultant-text{
  background-color: #F5F6CE !important;
}

.search-delete {
  position: relative;
  left: 0.2rem;
  color: #737373;
  font-size: 0.8rem;
}

.chat .message-polbot{
  text-align: left;
}

.chat .message-caller{
  text-align: right;
}

/* customize bootstrap css */
.dropdown-icon {
  color: darkgray;
  margin-right: 0.3rem;
  font-size: 1.2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
}

.dropdown-menu {
  min-width: 100%;
}

.dropdown-item {
  margin: auto;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  font-size: calc(0.8vmax + 1px);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-item:hover {
  background-color: #f6f6f6;
}

/* responsive ui */
@media (max-width: 449px) {
  .hide-disc-button {
    position: relative;
    left: 1.2rem;
    color: #737373;
    font-size: 0.8rem;
  }

  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #f5f5f5;
  }

  .container {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
  }

  .main {
    height: 100vh;
  }

  /* ===== MENU ===== */
  .menu {
    float: left;
    height: 100%;
    width: 4rem;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    z-index: 100;
  }

  .menu .items {
    width: 4rem;
    list-style: none;
    margin: auto;
    padding: 0;
  }

  .menu .items .item {
    height: 4rem;
    border-bottom: 1px solid #6780cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
  }

  .menu .items .item-active {
    background-color: #5172c3;
    color: #fff;
  }

  .menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
  }

  /* === CONVERSATIONS === */
  .discussions {
    width: 0px;
    visibility: hidden;
    height: 100%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 100;
    position: fixed;
    left: 4rem;
    top: 0;
  }

  .discussions .discussion {
    height: 4.5rem;
    background-color: #fafafa;
    border-bottom: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;

    justify-content: space-around;
  }

  .discussions .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    height: 4rem;
  }

  .discussions .search .searchbar {
    height: 34px;
    background-color: #fff;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
  }

  .discussions .search .searchbar input {
    margin-left: 10px;
    height: 30px;
    width: calc(100% - 2rem);
    border: none;
    font-family: "Montserrat", sans-serif;
  }

  .discussions .search .searchbar input:focus {
    outline: none;
  }

  .discussions .search .searchbar *::-webkit-input-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
    color: #e0e0e0;
  }

  .discussions .message-active {
    width: 100%;
    height: 4rem;
    background-color: #fff;
    border-bottom: solid 1px #e0e0e0;
    border-right: 3px solid lightseagreen;
  }

  .discussions .discussion .photo {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .online {
    position: relative;
    top: 2.3rem;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }

  .discussions .discussion .name {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    color: #515151;
  }

  .discussions .discussion .message {
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
    color: #515151;
  }

  .disc-search-container {
    height: 90px;
  }

  .disc-msg-container {
    height: calc(100% - 5rem);
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .chat {
    z-index: 2;
    width: calc(100% - 3rem);
    height: 100%;
  }

  .header-chat {
    background-color: #fff;
    height: 4rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  .chat .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 1.1rem;
  }

  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 0.9rem;
    color: #515151;
  }

  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }

  .chat .message-callstate {
    height: 5rem;
    margin: 1rem 0 1.4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat .message-callstate .timestamp {
    font-size: 0.5rem;
    background: #e6e7ed;
    color: darkgray;
    border-radius: 10px;
    margin: 0;
    padding: 0.2rem 0.6rem;
  }

  .chat .message-polbot {
    width: 90%;
  }

  .chat .message-caller {
    width: 100%;
    margin-left: 1rem;
  }

  .chat .messages-chat {
    padding: 1rem;
    height: calc(100% - 4rem - 3rem);
    overflow: auto;
    background-color: white;
  }

  .chat .messages-chat .message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .chat .messages-chat .message .photo {
    display: block;
    min-width: 2.5rem;
    /* width: 45px;
    height: 45px; */
    width: 2.5rem;
    height: 3.2rem;
    margin-bottom: 0.5rem;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .chat .messages-chat .text {
    /* margin: 0.5rem 0.5rem; */
    margin: 0 1rem 0.3rem 1rem;
    font-size: 0.7rem;
    background-color: #f6f6f6;
    /* padding: 8px 10px; */
    padding: 0.5rem;
    border-radius: 12px;
  }

  .text-only {
    margin-left: 2.5rem;
  }

  .time {
    display: flex;
    justify-content: flex-start;
    font-size: 0.5rem;
    color: darkgrey;
    margin-bottom: 1.3rem;
    margin-left: 4rem;
  }

  .response-time {
    display: flex;
    /* justify-content: flex-end; */
    flex-direction: row-reverse;
    margin-right: 1rem;
  }

  .response {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px !important;
    margin-left: auto;
  }

  .response .text {
    background-color: #e3effd !important;
  }

  .footer-chat {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: white;
    border-top: 2px solid #eee;
    justify-content: space-around;
  }

  .chat .footer-chat .icon {
    color: #c0c0c0;
    font-size: 14pt;
  }

  .chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    padding: 0.5rem;
    border-radius: 1rem;
    font-size: 2vmax;
    margin: 0 0.5rem;
  }

  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    color: #515151;
  }

  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }

  .write-message {
    border: none !important;
    width: 100%;
    height: 2rem;
    margin-left: 0.4rem;
    padding: 10px;
  }

  .footer-chat *::-webkit-input-placeholder {
    color: #c0c0c0;
    font-size: 1.8vmax;
  }
  .footer-chat input *:-moz-placeholder {
    color: #c0c0c0;
    font-size: 1.8vmax;
  }
  .footer-chat input *::-moz-placeholder {
    color: #c0c0c0;
    font-size: 1.8vmax;
    margin-left: 5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #c0c0c0;
    font-size: 1.8vmax;
  }

  .clickable {
    cursor: pointer;
  }
}

@media (min-width: 450px) and (max-width: 767px) {
  .hide-disc-button {
    position: relative;
    left: 1.2rem;
    color: #737373;
    font-size: 0.8rem;
  }

  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #f5f5f5;
  }

  .container {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
  }

  .main {
    height: 100vh;
  }

  /* ===== MENU ===== */
  .menu {
    float: left;
    height: 100%;
    width: 4.5rem;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  }

  .menu .items {
    width: 4.5rem;
    list-style: none;
    margin: auto;
    padding: 0;
  }

  .menu .items .item {
    height: 4.5rem;
    border-bottom: 1px solid #6780cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
  }

  .menu .items .item-active {
    background-color: #5172c3;
    color: #fff;
  }

  .menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
  }

  /* === CONVERSATIONS === */
  .discussions {
    width: 0px;
    visibility: hidden;
    height: 100%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    display: inline-block;
    z-index: 100;
    position: fixed;
    left: 4.5rem;
    top: 0;
  }

  .discussions .discussion {
    width: 100%;
    height: 4.5rem;
    background-color: #fafafa;
    border-bottom: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;

    justify-content: space-around;
  }

  .discussions .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    height: 4.5rem;
  }

  .discussions .search .searchbar {
    height: 40px;
    background-color: #fff;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
  }

  .discussions .search .searchbar input {
    margin-left: 15px;
    height: 38px;
    width: 100%;
    border: none;
    font-family: "Montserrat", sans-serif;
  }

  .discussions .search .searchbar input:focus {
    outline: none;
  }

  .discussions .search .searchbar *::-webkit-input-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
    color: #e0e0e0;
  }

  .discussions .message-active {
    width: 100%;
    height: 4.5rem;
    background-color: #fff;
    border-bottom: solid 1px #e0e0e0;
    border-right: 3px solid lightseagreen;
  }

  .discussions .discussion .photo {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .online {
    position: relative;
    top: 1.4rem;
    left: 35px;
    margin-top: 20px;
    width: 13px;
    height: 13px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }

  .discussions .discussion .name {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    color: #515151;
  }

  .discussions .discussion .message {
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
    color: #515151;
  }

  .disc-search-container {
    height: 90px;
  }

  .disc-msg-container {
    height: calc(100% - 5rem);
    overflow: auto;
  }

  .chat {
    width: calc(100% - 4.5rem);
    height: 100%;
  }

  .header-chat {
    background-color: #fff;
    height: 4.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  .chat .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 1.2rem;
  }

  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.2rem;
    color: #515151;
  }

  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }

  .chat .message-callstate {
    height: 5rem;
    margin: 1.2rem 0rem 1.5rem 0rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat .message-callstate .timestamp {
    font-size: 0.7rem;
    background: #e6e7ed;
    color: darkgray;
    border-radius: 12px;
    margin: 0;
    padding: 0.4rem 0.7rem;
  }

  .chat .message-polbot {
    width: 90%;
  }

  .chat .message-caller {
    width: 100%;
    margin-left: 2rem;
  }

  .chat .messages-chat {
    padding: 25px 35px;
    height: calc(100% - 4.5rem - 5rem);
    overflow: auto;
    background-color: white;
  }

  .chat .messages-chat .message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 5px; */
  }

  .chat .messages-chat .message .photo {
    display: block;
    min-width: 2.8rem;
    /* width: 45px;
    height: 45px; */
    margin-bottom: 0.5rem;
    width: 3.0rem;
    height: 3.3rem;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .chat .messages-chat .text {
    margin: 0 2rem 0.3rem 1rem;
    background-color: #f6f6f6;
    padding: 0.8rem;
    border-radius: 12px;
    font-size: 0.8rem;
  }

  .text-only {
    /* margin-left: 45px; */
    margin-left: 2.8rem;
  }

  .time {
    display: flex;
    justify-content: flex-start;
    font-size: 0.8rem;
    color: darkgrey;
    margin-bottom: 1.3rem;
    /* margin-left: 85px; */
    margin-left: 4rem;
  }

  .response-time {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px !important;
  }

  .response {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px !important;
    margin-left: auto; /* flexbox alignment rule */
  }

  .response .text {
    background-color: #e3effd !important;
  }

  .footer-chat {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: white;
    border-top: 2px solid #eee;
    justify-content: space-around;
  }

  .chat .footer-chat .icon {
    color: #c0c0c0;
    font-size: 14pt;
  }

  .chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
    margin: 0 2rem;
  }

  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    color: #515151;
  }

  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }

  .write-message {
    border: none !important;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }

  .footer-chat *::-webkit-input-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
    margin-left: 5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }

  .clickable {
    cursor: pointer;
  }
}

@media (min-width: 768px) {
  .hide-disc-button {
    position: relative;
    left: 1.8rem;
    color: #737373;
  }

  body {
    width: 100%;
    height: 100%;
    padding: 0px;
    background-color: #f5f5f5;
  }

  .container {
    padding: 0;
    background-color: #fff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    height: 100%;
  }

  .main {
    height: 100vh;
  }

  /* ===== MENU ===== */
  .menu {
    float: left;
    height: 100%;
    width: 6rem;
    background: #4768b5;
    background: -webkit-linear-gradient(#4768b5, #35488e);
    background: -o-linear-gradient(#4768b5, #35488e);
    background: -moz-linear-gradient(#4768b5, #35488e);
    background: linear-gradient(#4768b5, #35488e);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
  }

  .menu .items {
    width: 6rem;
    list-style: none;
    margin: auto;
    padding: 0;
  }

  .menu .items .item {
    height: 6rem;
    border-bottom: 1px solid #6780cc;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #9fb5ef;
    font-size: 17pt;
  }

  .menu .items .item-active {
    background-color: #5172c3;
    color: #fff;
  }

  .menu .items .item:hover {
    cursor: pointer;
    background-color: #4f6ebd;
    color: #cfe5ff;
  }

  /* === CONVERSATIONS === */
  .discussions {
    width: 0px;
    visibility: hidden;
    height: 100%;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    display: inline-block;
    position: fixed;
    z-index: 100;
    left: 6rem;
    top: 0rem;
  }

  .discussions .discussion {
    width: 100%;
    height: 6rem;
    background-color: #fafafa;
    border-bottom: solid 1px #e0e0e0;
    display: flex;
    align-items: center;
    cursor: pointer;

    justify-content: space-around;
  }

  .discussions .search {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e0e0e0;
    height: 6rem;
  }

  .discussions .search .searchbar {
    height: 40px;
    background-color: #fff;
    width: 70%;
    padding: 0 20px;
    border-radius: 50px;
    border: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    /* cursor: pointer; */
  }

  .discussions .search .searchbar input {
    margin-left: 15px;
    height: 38px;
    width: 100%;
    border: none;
    font-family: "Montserrat", sans-serif;
  }

  .discussions .search .searchbar input:focus {
    outline: none;
  }

  .discussions .search .searchbar *::-webkit-input-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *::-moz-placeholder {
    color: #e0e0e0;
  }
  .discussions .search .searchbar input *:-ms-input-placeholder {
    color: #e0e0e0;
  }

  .discussions .message-active {
    width: 100%;
    height: 6rem;
    background-color: #fff;
    border-bottom: solid 1px #e0e0e0;
    border-right: 3px solid lightseagreen;
  }

  .discussions .discussion .photo {
    margin-left: 20px;
    display: block;
    width: 45px;
    height: 45px;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .online {
    position: relative;
    top: 2.5rem;
    left: 35px;
    width: 13px;
    height: 13px;
    background-color: #8bc34a;
    border-radius: 13px;
    border: 3px solid #fafafa;
  }

  .discussions .discussion .name {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 11pt;
    color: #515151;
  }

  .discussions .discussion .message {
    font-family: "Montserrat", sans-serif;
    font-size: 9pt;
    color: #515151;
  }

  .disc-search-container {
    height: 90px;
  }

  .disc-msg-container {
    height: calc(100% - 5rem);
    overflow: auto;
  }

  .chat {
    width: calc(100% - 6rem);
    height: 100%;
  }

  .header-chat {
    background-color: #fff;
    height: 6rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }

  .chat .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 1.5rem;
  }

  .chat .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    color: #515151;
  }

  .chat .header-chat .right {
    position: absolute;
    right: 40px;
  }

  .chat .message-callstate {
    height: 5rem;
    margin: 2rem 0 4rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .chat .message-callstate .timestamp {
    font-size: 0.9rem;
    background: #e6e7ed;
    color: darkgray;
    border-radius: 12px;
    margin: 0;
    padding: 0.5rem 1rem;
  }

  .chat .message-polbot {
    width: 75%;
  }

  .chat .message-caller {
    width: 100%;
    margin-left: 2rem;
  }

  .chat .messages-chat {
    padding: 25px 35px;
    height: calc(100% - 6rem - 5rem);
    overflow: auto;
    background-color: white;
  }

  .chat .messages-chat .message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin-bottom: 8px; */
  }

  .chat .messages-chat .message .photo {
    display: block;
    min-width: 2.8rem;
    /* width: 45px;
    height: 45px; */
    margin-bottom: 0.5rem;
    width: 3.0rem;
    height: 3.6rem;
    background: #e6e7ed;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .chat .messages-chat .text {
    margin: 0 2rem 0.5rem 1rem;
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 12px;
    font-size: 1rem;
  }

  .text-only {
    /* margin-left: 45px; */
    margin-left: 2.8rem;
  }

  .time {
    display: flex;
    justify-content: flex-start;
    font-size: 0.9rem;
    color: darkgrey;
    margin-bottom: 1.3rem;
    /* margin-left: 85px; */
    margin-left: 4rem;
  }

  .response-time {
    display: flex;
    justify-content: flex-end;
    margin-right: 40px !important;
  }

  .response {
    display: flex;
    justify-content: flex-end;
    margin-right: 0px !important;
    margin-left: auto; /* flexbox alignment rule */
  }

  .response .text {
    background-color: #e3effd !important;
  }

  .footer-chat {
    width: calc(100% - 66px);
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    bottom: 0;
    background-color: white;
    border-top: 2px solid #eee;
    justify-content: space-around;
  }

  .chat .footer-chat .icon {
    color: #c0c0c0;
    font-size: 14pt;
  }

  .chat .footer-chat .send {
    color: #fff;
    background-color: #4f6ebd;
    padding: 12px 12px 12px 12px;
    border-radius: 50px;
    font-size: 14pt;
    margin: 0 2rem;
  }

  .chat .footer-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    color: #515151;
  }

  .chat .footer-chat .right {
    position: absolute;
    right: 40px;
  }

  .write-message {
    border: none !important;
    width: 100%;
    height: 50px;
    margin-left: 20px;
    padding: 10px;
  }

  .footer-chat *::-webkit-input-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }
  .footer-chat input *:-moz-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }
  .footer-chat input *::-moz-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
    margin-left: 5px;
  }
  .footer-chat input *:-ms-input-placeholder {
    color: #c0c0c0;
    font-size: 13pt;
  }

  .clickable {
    cursor: pointer;
  }
}
